# Proxy standby port
http_port 8080

# Disable logging hostname
visible_hostname none

# Enable DNS (uses /etc/resolv.conf)
dns_defnames on

acl localnet src 0.0.0.1-0.255.255.255
acl localnet src 10.0.0.0/8
acl localnet src 100.64.0.0/10
acl localnet src 169.254.0.0/16
acl localnet src 172.16.0.0/12
acl localnet src 192.168.0.0/16
acl localnet src fc00::/7
acl localnet src fe80::/10

acl to_localnet_fast dst -n 0.0.0.1-0.255.255.255
acl to_localnet_fast dst -n 10.0.0.0/8
acl to_localnet_fast dst -n 100.64.0.0/10
acl to_localnet_fast dst -n 169.254.0.0/16
acl to_localnet_fast dst -n 172.16.0.0/12
acl to_localnet_fast dst -n 192.168.0.0/16
acl to_localnet_fast dst -n fc00::/7
acl to_localnet_fast dst -n fe80::/10

acl to_localhost_fast dst -n 127.0.0.0/8

# Allow access from localnet
http_access allow localhost
http_access allow localnet

# Proxy configuration
never_direct allow !to_localhost_fast !to_localnet_fast
cache_peer $proxy_host parent $proxy_port 0 proxy-only no-digest no-netdb-exchange login=$proxy_auth

# Make Squid hidden from the higher proxy
forwarded_for delete
via off
cache deny all
request_header_access Cache-Control deny all
request_header_access Connection deny all
request_header_add Proxy-Connection "Keep-Alive" all
