name: Docker Image CI

on:
  push:
    branches:
      - 'main'
    tags:
      - 'v*.*.*'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Publish Docker image
        uses: k-ishigaki/publish-docker-image-action@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
